.cars {
    display:flex;
    flex-wrap: wrap;
        overflow-y:scroll;
        height: 75vh;
}

.car {
    display:flex;
    justify-content: start;
    position: relative;
    width: 30%;
    height: 15em;
    min-width: 300px;
    min-height:200px;
    border-radius: 5px;
    margin-left:2.5em;
    margin-top:2.5em;
    overflow: hidden;

    -webkit-box-shadow: 4px -2px 33px -7px rgba(0,0,0,1);
    -moz-box-shadow: 4px -2px 33px -7px rgba(0,0,0,1);
    box-shadow: 4px -2px 33px -7px rgba(0,0,0,1);
}

.car:hover{
    transform: scale(1.1);
    z-index:3;
    -webkit-box-shadow: 4px -2px 25px 0px rgba(17,82,65,1);
    -moz-box-shadow: 4px -2px 25px 0px rgba(17,82,65,1);
    box-shadow: 4px -2px 25px 0px rgba(17,82,65,1);
}

.car__img{
    width: 43%;
    opacity:0.6;
}

.car__content{
    width: 57%;
    background-color:white;
}

.car__content:hover{
    overflow-y: scroll; 
}